.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;

    /* grid-template-column è il nuovo sistema a griglie di css ed 1fr rapprestra una frazione dela grida */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    /*grid-gap è la distanza che c'è fra ogni card, quindi ogni frazione*/
    grid-gap: 20px;
}